.container {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
    border-radius: 4px;
    cursor: pointer;

    .icon {
        width: 20px;
        height: 20px;
        color: white;
    }

    .link {
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    &:hover {
        .link,
        .icon {
            color: var(--color-accent);
            filter: brightness(40%);
        }
    }

    &.current {
        background: white;

        .link,
        .icon {
            color: var(--color-accent);
        }

        &:hover {
            .link,
            .icon {
                color: var(--color-accent);
                filter: none;
            }
        }
    }
}
