.container {
    height: var(--navbar-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;
}

.buttons {
    display: flex;
    gap: 10px;
}
