.modal {
    padding: 0;
    background: var(--color-lightgray);
    padding: 40px 5px 5px;
    position: relative;
    cursor: auto;
}

.close {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 200;
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
}
